# Virtualenvs
venv/
.venv/

# Python
__pycache__/
*.pyc

# Env secrets
.env

# Node build artifacts
node_modules/
dist/
build/

# Logs / OS files
*.log
.DS_Store

# (Extra safety) Local DB artifacts
*.db
*.db-journal
